<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
    <!-- version 4.2.1 bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- More libraries for bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="app">

        <div class="container">
            <!--two divs to show and no show the button. When the player object is null show me the buttons, if not show me the log out button-->
            <div v-if="player == 'null'">
                <label>Name: <input type="text" name="username" v-model="emailInput"></label>
                <label>Password: <input type="password" name="password" v-model="passwordInput"></label>
                <button v-on:click="login()" class="buttons button is-info">Log in</button>
                <button v-on:click="signup()" class="buttons button is-info">Sign up</button>
            </div>
            <div v-else>
                <!-- To see the current plaer that it's login-->
                <h6 v-if="player != 'null'">{{player.email}}</h6>
                <button v-on:click="logout()" class=" buttons button is-info">Log out</button>
            </div>

            <div v-if="gameData.length > 0">
                <ol>
                    <li v-for="game in gameData" v-if="game.gamePlayers.length == 1"> {{game.created}}, {{game.gamePlayers[0].player.email}} vs you're waiting for a player

                        <button v-on:click="joinGame()">JoinGame</button>
                    </li>
                    <li v-for="game in gameData" v-if="game.gamePlayers.length == 2"> {{game.created}}, {{game.gamePlayers[0].player.email}} vs {{game.gamePlayers[1].player.email}}
                        <!-- Click the button to enter a game-->
                        <button v-on:click="enterGame(game.gamePlayers)">EnterGame</button>
                    </li>

                </ol>
            </div>

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Leaderboard</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Username</th>
                        <th>Total Score</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Tied</th>

                    </tr>
                    <tr v-for="scores in leaderBoard">
                        <td>{{scores.name}}</td>
                        <td>{{scores.pts}}</td>
                        <td> {{scores.win}} </td>
                        <td> {{scores.lose}} </td>
                        <td> {{scores.tie}} </td>

                    </tr>
                </tbody>
            </table>

        </div>



    </div>


    <!--Vue script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue resource-->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!--My own script-->
    <script src="games.js"></script>

</body>

</html>
