
th,
td {
   
    text-align: center;
    padding: 0px;
    width: 200px;
    height: 50px;
}


.boat {
    
    display: inline-block;
    height: 47px;
    width: 200px;
    background-color: hotpink;
}



.ships {
     display:block;
}

/*color of ships when drag and drop*/
.ship-color {
    
    background-color:darkslategrey;
}

/*color on the sea*/
.empty-cell{
    background-color: rgba(12, 9, 249, 0.84);  
}

.mysalvo { 
    background-color: darkgreen;
}

.shot{
    background-color: yellow;
}


.container {
    display: flex;
}

.democlass {
    color: red;
  }


